@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  /* @apply border; */
}

body {
  color: rgb(var(--foreground-rgb));
  /* background:  */
    /* linear-gradient(to bottom left, rgb(0, 0, 0) 0%, rgb(24, 2, 2) 90%), */
    /* url("/public/img/bgs/cover-01.jpg"), */
    /* linear-gradient(to bottom right, rgb(44, 29, 29) 0%, rgb(17, 2, 28) 50%, rgb(13, 10, 10) 90%); */
    
  background-blend-mode: screen, difference, lighten;
  background-image:  url('/img/bgs/cover-01.jpg');
}

.heroSwiper {
  @apply min-h-[70vh] mt-10;
}

.swpSlide {
  @apply min-h-[50vh] flex flex-col justify-center align-middle text-center border;
}


@media (min-width: 768px) {
  .heroDisp {
    background-position-x: right;
    @apply bg-no-repeat w-full ;
    /* background-size: 50%; */
    background-size: 100vh;
  }
  
}


/* BUTTONS STYLE */
.btn {
  @apply rounded-md font-bold;
}

.btn-primary {
  @apply btn bg-[#3e5233] text-white;
}

.btn-secondary {
  @apply btn border border-white text-white;
}

.btn-sm {
  @apply px-8 py-2;
}



/* SWIPER DUMMY */
.mySwiper > * {
}


.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  @apply min-h-[200px] min-w-[150px] sm:min-h-[250px] sm:min-w-[180px] md:min-h-[300px] md:min-w-[220px] max-h-[300px] max-w-[220px] rounded-xl overflow-hidden;
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */
